<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Webean | Desarrollo web para emprendedores</title>
    </head>
    <body>
        <div>
            <div class="tile">
                <h2>Features</h2>
                <ul>
                    <li><a href="http://www.google.com">Link 1</a></li>
                    <li><a href="http://www.google.com">Link 1</a></li>
                    <li><a href="http://www.google.com">Link 1</a></li>
                </ul>
            </div>
            <div class="tile" id="interview">
                <div>Important interview</div>
                <div>3:00 - 4:00 pm</div>
                <div>December <span>15</span></div>
            </div>
            <div class="tile">
                <h2>Todo</h2>
                <ol>
                    <li>Construir websites</li>
                    <li>Build Apps</li>
                    <li>Build Games</li>
                </ol>
            </div>
            <div class="tile">
                <img src="img/chart.png" width="100">
                <div>4800</div>
            </div>
            <div class="tile">
                <table>
                    <thead>
                        <th>User</th>
                        <th>Product</th>
                        <th>Score</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User1</td>
                            <td>Nicer App</td>
                            <td>45.5</td>
                        </tr>
                        <tr>
                            <td>User1</td>
                            <td>Nicer App</td>
                            <td>45.5</td>
                        </tr>
                        <tr>
                            <td>User1</td>
                            <td>Nicer App</td>
                            <td>45.5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tile">
                <h2>Order Pizza</h2>
                <form>
                    <select>
                        <option>Pizza 1</option>
                        <option>Pizza 2</option>
                        <option>Pizza 3</option>
                    </select>
                    <input type="number" value="1" /><br/>
                    <input type="text" placeholder="Comments"/>
                    <button>Order</button>
                </form>
            </div>
            <div class="tile">
                <div>Santiago</div>
                <div>36</div>
            </div>
        <div/>
    </body>
</html>