<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Hola mundo</title>
    </head>
    <body>
        <h1>Creando enlaces</h1>
        <p>Quiero que <a
                href="http://www.duckduckgo.com" target="_blank">esta frase</a>
           me lleve al navegador del pato
        </p>
        <img src="img/rumorosa.jpg" width="300px">

        <h1>Formularios</h1>
        <form>
            <div><input type="number" min="1" max="5" name="numero"/></div>
            <div><input type="range" min="1" max="100"/></div>
            <div><input type="color"/></div>
            <div><textarea placeholder="escribe aqui tu opinion" rows="5" cols="80"></textarea></div>
            <div>
                <select>
                    <option>Comida Mexicana</option>
                    <option>COmida China</option>
                </select>
            </div>
            <button type="submit">Guardar</button>
        </form>

    </body>
</html>